.arcania-well {
    margin: 0 1em 0;
    background-color: tan;
}

.arcania-header {
    color: rgba(180, 117, 28, 0.973)
}

.arcania-button {
    background-color: #D58512;
    width: 79%;
    display: inline-block;
    margin-right: 1%;
}

.arcania-route-button {
    background-color: #D58512;
}
.arcania-info-button {
    width: 19%;
    display: inline-block;  
}

.transmute-logs-well {
    margin: 0 2em 0;
    background-color: tan;
}

.transmute-logs-log-count {
    font-size: 1.5em;
    font-weight: bold;
    color: saddlebrown;
}

.transmute-logs-arcana-count {
    font-size: 1.5em;
    font-weight: bold;
    color: #D58512;
    margin-right: 2em;
}

.transmute-logs-progress-bar {
    margin-top: 1em;
    width: 50%;
    display: inline-block;
    margin-right: 2%;
    vertical-align: middle;
}


.transmute-logs-info-container {
    background-color: white;
    border-radius: 2em;
    padding: .4em;
    margin-bottom: 1em;

}

.transmute-logs-button {
    width: 22%;
    margin-right: 1%;
    padding: .25em;
    font-size: 1.2em;

}

.transmute-logs-arcana-to-be-used {
    float: left;
    font-size: 1.2em;
    color: darkslateblue;
    font-weight: bold;
    margin-left: .3em;
}

.transmute-logs-success-chance {
    float: right;
    color: green;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: .3em;
}

.transmute-logs-transmute-button {
    font-size: 2em;
    background-color: #D58512;
    margin-top: 3em !important;
}