.bottom-container {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.3em;
    color: whitesmoke;

}

.bottom-bar-header {
    font-weight: bolder;
    color: gold;
    font-size: 1.2em;
    margin-bottom: -.4em;
}

.center-align {
    text-align: center;
    padding-right: 1em;
    font-size: 1.1em;
}