.combat-header {
  color: firebrick;
  
}

.combat-route-button {
  background-color: firebrick;
  color: white,
}

.combat-well {
  margin: 0 1em 0;
  border: solid firebrick 2px;
  background-color: lightgrey;
}

.combat-button {
  width: 79%;
  display: inline-block;
  margin-right: 1%;
  background-color: firebrick;
  color: white,
}


.combat-more-button {
  background-color: firebrick;
  color: white,
}
.combat-info {
  width: 20%;
  display: inline-block;
  color: white;
  background-color: gray;
}
