#equipment-header {
    color: maroon;
    font-weight: bolder;
    font-size: 2.5em;
    margin-top: -.65em;

}

.equipment-container {
    height: 100%;

}


.weapon-armor-well {
    margin-top: .5em;
    background-color: lightgray;
    border-radius: 1em;
}

.weapon-armor-header {
    font-size: 1.3em;
    font-weight: bolder;
    color: maroon;
    display: block;
    background-color: gold;
    border-radius: 1em;
    margin-bottom: -.5em;
}

.w-a {
    text-align: left;
    display: block;
    background-color: darkred;
    color: white;
    padding: .5em;
    border-radius: 1em;
    margin-bottom: .1em;
}

.w-a-type {
    font-weight: bold;
    font-size: 1em;
}

.w-a-item {
    font-weight: bold;
    color: gold;
}

.combat-stats-container {
    background-color: lightslategray;
}
.combat-stats-header {
    color: gold;
    font-weight: bold;
    margin-top: -.85em;
    margin-bottom: .1em;
    background-color: darkred;
    border-radius: .25em;
}
.combat-stat{
    color: rgba(48, 43, 43, 0.897);
    font-weight: bold;
    text-align: left;
    background-color: gold;
    padding-left: .5em;
    

    
}
.jewelry-well {
    margin-top: .5em;
    background-color: lightgray;
    border-radius: 1em;
}

.jewelry-header {
    font-size: 1.3em;
    font-weight: bolder;
    color: darkslategray;
    display: block;
    background-color: orange;
    border-radius: 1em;
    margin-bottom: -.5em;

}

.jewelry {
    text-align: left;
    font-size: 1em;
    display: block;
    background-color: darkslategray;
    color: white;
    padding: .5em;
    border-radius: 1em;
    margin-bottom: .1em;
}

.jewelry-type {
    font-weight: bold;
    font-size: 1em;
}

.jewelry-item {
    font-weight: bold;
    color: orange;
}

.arcania-stats-container {
    background-color: lightslategray;
}

.arcania-stats-header {
    color: rgb(247, 175, 41);
    font-weight: bolder;
    margin-top: -.85em;
    margin-bottom: .35em;
    background-color: darkslategray;
    border-radius: .25em;
}

.arcania-stat {
    color: black;
    font-weight: bolder;
    text-align: left;
    background-color: rgb(247, 175, 41);
    padding-left: .4em;
    color: rgba(48, 43, 43, 0.897);
}

.c-s-container {
    background-color: gold;
    padding: .2em;
    border-radius: .4em;
    margin-top: .24em;
    
}

.a-s-container {
    background-color: rgb(247, 175, 41);
    padding: .2em;
    border-radius: .4em;
}