.skill {
    color: white;
    border: 1px solid white;
    border-radius: 1em;
    background-color: darkslategrey;
    padding: .25em;
    font-size: 1.4em;
    margin-top: .1em;
    font-weight: bold;
}

.skill-exp {
    font-size: .8em;
    color: grey;
}

.skills-container {
    margin: 0 1em 0;
    border-radius: 1em;
    background-color: tan;
}

.skills-header {
    color: navy;

}

.skills-combat {
    color: tomato;
}

.skills-arcania {
    color: goldenrod;
}

.skills-hunting {
    color: orange;
}

.skills-woodcutting {
    color: olive;
}

.skills-mining {
    color: royalblue;
}