.woodcutting-well {
    background-color: saddlebrown;
    margin: 0 1em 0;
}
.woodcutting-route-button {
    background-color: darkolivegreen;
}
.woodcutting-container {
    margin: 1em 2em 0;
}

.woodcutting-header {
    color: darkolivegreen;
}

.woodcutting-button {
    width: 20%;
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    font-size: 1em;
}


.woodcutting-info{
    font-size: 1.3em;
    color: rgb(2, 71, 2);
    background-color: sandybrown;
    border-radius: 2em;
    padding: .33em;
    margin-top: .45em;

}
.woodcutting-failure {
    background-color: maroon;
}
.btn-success.woodcutting-failure:hover {
    background-color: maroon;
}

.btn-success.woodcutting-success {
    background-color: darkgreen;
}
.btn-success.woodcutting-success:hover {
    background-color: darkgreen;
}


.btn-success.pine:active {
    background-color: saddlebrown; 
}
.btn-success.oak:active {
    background-color: rgb(85, 40, 7);
}
.pine {
    background-color: saddlebrown;
}

.pine:hover {
    background-color: saddlebrown;
}

.pine:active {
    background-color: saddlebrown;
}

.pine:focus {
    background-color: saddlebrown;
}

.pine:disabled:hover {
    background-color: saddlebrown;
}

.oak {
    background-color: rgb(85, 40, 7);
}

.oak:hover {
    background-color: rgb(85, 40, 7);
}

.oak:active {
    background-color: rgb(85, 40, 7);
}

.oak:focus {
    background-color: rgb(85, 40, 7);
}

.oak:disabled:hover {
    background-color: rgb(85, 40, 7);
}